body{
    margin: 20px;
}
*{
    box-sizing: border-box;
}
div h1{
   text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    //**justify-content: space-around;**/
    padding: 20px;
}
#h1{
    background-color: pink;
    text-align:center;
    border:2px solid black;
    
    margin-top: 0px;
    margin-left: 300px;
    
   
    
}
#h2{
    background-color:brown ;
    text-align: center;
    border:2px white;
    margin-top: 0px;
    margin-left: 300px;
}
#h3{
    background-color: rgba(231, 227, 13, 0.841);
    text-align: center;
    border: 2px solid black;
    margin-top: 0px;
    margin-left: 300px;
}
.box1 {
    flex: 1;
    max-width: 40%;
    margin: 10px;
    /**padding: 10px;**/
    padding-left: 10px;
  
    background-color: grey;
   /** box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);**/
    transition: 0.3s;
    border: 2px solid black;
    text-align: justify; 
     

}
.box2 {
    flex: 1;
    max-width: 40%;
    margin: 10px;
    /**padding: 10px;**/
    padding-left: 10px;
    
    background-color: grey;
   /** box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);**/
    transition: 0.3s;
    border: 2px solid black;
}
.box3 {
    flex: 1;
    max-width: 40%;
    margin: 10px;
   /** padding: 10px;**/
   padding-left: 10px;
   
    background-color: grey;
   /** box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);**/
    transition: 0.3s;
    border: 2px solid black;
}
.box1 #h1 {
    border: 2px solid #333;
   /** padding: 10px;**/
    background-color:pink;
    color: #333;
}
.box2 #h2 {
    border: 2px solid #333;
   
    background-color: maroon;
    color: #333;
}
.box3 #h3 {
    border: 2px solid #333;
    
    background-color:rgb(236, 236, 51);
    color: #333;
}
/**#box1{
    background-color: grey;
    
        width:30%;
        height: 100px;
        float: left;
        border: 1px solid black;
        box-sizing: border-box;
        padding-right: 20px;
        margin-right: 20px;
        clear: right;
      
}**/
/**#box2{
    background-color: grey;
    width: 30%;
    height: 100px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
    
}**/
/**#box3{
    background-color: grey;
    width: 30%;
    height: 100px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
    padding-right: 20px;
    margin-right: 20px;
}**/
p{

    background-color: grey;
    width: 100%;
    height: 100px;
    margin-right: auto;
    margin: left 10px;;
    font-family: helvetica;
    color: rgb(8, 8, 8);
    overflow: hidden;
    padding-left: 10px;
    padding-right: 20px;
    
    
}

@media (min-width: 992px) and (max-width: 1199px) {
    .box1{
        flex: 1;
        max-width: 45%;
        float: left;
    }
}
/**@media (min-width: 996px) and (max-width: 1199px) {
    .box2{
        flex: 1;
        max-width: 45%;
        float: left;
    }
}
@media (min-width: 996px) and (max-width: 1199px) {
    .box2{
        flex: 1;
        max-width: 45%;
    }
}**/
@media (min-width:1200px){
    .box1{
        flex: 1;
        max-width: 45%;
        float: left;
    }
}
@media (min-width:768px) and (max-width: 991px) {
    .box2{
        flex: 1;
        max-width: 50%;
        float: left;
    }
}
@media (min-width: 767px) {
    .box3 {
        flex: 1;
        max-width: 100%;
        float: left;
    }
}
/**@media(min-width:1200px)
{
    .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5
    {
        float: right;
        border: 1PX SOLID green;
    }
    .col-lg-1{
      width: 8.33%;  
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 100%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
}**/
